[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow-simd = "==5.3.0.post1"

[dev-packages]
flake8 = "==2.6.2"
flake8-docstrings = "==0.2.8"

[requires]
python_version = "3.7"
